extends layout

block content
    h1 About me, myself, and that guy on picture(it's me)
    table
        tr
            td    
                div(class='card' style='width: 18rem; margin-left: 2%')
                    img(class='card-img-top' src='https://cdn.igromania.ru/mnt/articles/8/6/e/0/a/2/30797/html/more/60e50c72b6c12dd5_1920xH.jpg' alt='Hey! Look at me!')
                    div(class='card-body')
                        h5(class='card-title') Vladimir Vatsurin
            td
                #left_text
                    h4 Get to know me:
                        ul
                            li
                                p  Junior Game Developer with 2 years of experience of gameplay programming, gameplay design and game development team management.
                            li
                                p  Familiar and experienced with Unreal Engine 4 and Unity game engines. Epic MegaJam 2017 participant, created a team of 5 people and led the development straight to the submission.
                            li
                                p  Outgoing, respectful and good team work member. Good team member, has nice communication skills, always open to discussions and likes to come up with a result that will be accepted by all majority of team members. Well organized and punctual. 
                            li
                                p  Passionate in video games. 
                            li
                                p  Dream is to become an experienced game developer and work in a great team. 
                            li
                                p  Gaming experience - 12 years.
                            li
                                p  Also known as AscotBailey-2.
    a(href="https://ascotbailey2.carbonmade.com/" class="btn btn-primary" style="margin-top: 2%") Take a peek into portfolio on Carbonmade