extends layout

block content
    div(class='card text-md-center' style='width: 90%; margin-top: 5%;')
     img(class='card-img-top' src='https://cdn-images-1.medium.com/max/2400/0*9wve8B8kJxKxa1fD.png' alt='LinkedIn!!!!')
     div(class='card-body')
      a(href="https://www.linkedin.com/in/vladimir-vatsurin/" class="btn btn-primary") Add me in LinkedIn!

    div(class='card text-md-center' style='width: 90%; margin-top: 5%;')
     img(class='card-img-top' src='https://carbonmade-media.accelerator.net/29660721;724x300.jpeg' alt='CARBONMADE!!!!')
     div(class='card-body')
      a(href="https://ascotbailey2.carbonmade.com/" class="btn btn-primary") Check me out on Carbonmade!

    div(class='card text-md-center' style='width: 90%; margin-top: 5%;')
     img(class='card-img-top' src='https://getvideo.at/static/images/howto/vk.com/vk.com_home.6ea31507f6bf.png' alt='VK!!!!')
     div(class='card-body')
      a(href="https://vk.com/sidebail" class="btn btn-primary") Add me in VKontakte!
    
    form#contact-form
     input(type='hidden', name='contact_number')
     label Name
     input(type='text', name='user_name')
     label Email
     input(type='email', name='user_email')
     label Message
     textarea(name='text')
     input(type='submit', value='Send')