html
  head
  body
    h1 ProjectEARTH feedback - Please, click on the widget above and follow instructions!
    script(type='text/javascript', src='https://ssudigitaltry.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/8ur02a/b/23/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=19388074')
