extends layout

block content
   script(type='text/javascript', src='https://ssudigitaltry.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/8ur02a/b/23/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=19388074')
   div(class='card' style='width: 18rem; margin: 0 auto; float: none;')
    img(class='card-img-top' src='https://cdn.igromania.ru/mnt/articles/8/6/e/0/a/2/30797/html/more/60e50c72b6c12dd5_1920xH.jpg' alt='Hey! Look at me!')
    div(class='card-body')
      h5(class='card-title') Hello!
   h1 Vladimir Vatsurin's portfolio
   h2 Welcome to my porrfolio website!
   h3 I am the IT specialist with a main focus on game development and game industry
     p On this website you can check out my projects, achievements, my skills and what I'm proud of
   div(class='card text-md-center' style='width: 90%; margin-top: 5%; float: none;')
    img(class='card-img-top' src='https://media.licdn.com/dms/image/C5616AQEpiHkcQEVr_w/profile-displaybackgroundimage-shrink_350_1400/0?e=1566432000&v=beta&t=gNxTvj43YJw3_qPuIdKugVprcTJG3dO9gqbvH1_jwJU' alt='PROJECTS!')
    div(class='card-body')
      a(href="/projects" class="btn btn-primary") Check out my projects!
   div(class='card text-md-center' style='width: 90%; margin-top: 5%; float: none;')
    img(class='card-img-top' src='https://cs10.pikabu.ru/post_img/2019/02/26/6/1551174097166617291.jpg' alt='Igromania!')
    div(class='card-body')
      a(href="https://www.igromania.ru/author/982/Vladimir_Vacurin.html" class="btn btn-primary") Here is me writing about games in the biggest CIS portal!
