extends layout

block content
  #content
   h1= `Vladimir Vatsurin's portfolio`
   h2 Welcome to my porrfolio website!
   h3 I am the IT specialist with a main focus on game development and game industry
     p On this website you can check out my projects, achievements, my skills and what I'm proud of
   a(href="/projects") My Projects
