doctype html
html
  head
    title= title
    style.
        #footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: black;
          color: white;
          text-align: center;  
        }
        #header{
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 5%;
          background-color: black;
          color: white;
          
        }
        #head_right {
          float: right;
          
          transform: translateY(25%);
          margin-right: 10px;
        }
        #head_left {         
          margin-left: 100px;
          color: white;
          
        }
        #content{
          margin-top: 100px;
          
          text-align: center;
        }
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  body
    block header
      #header
         a(href="/" id='head_left') Home  
         a(id='head_right') About me (SUBJECT TO CHANGE)   
         a(id='head_right') Contacts (SUBJECT TO CHANGE)
    #content
     block content
    block footer
      #footer
        p Vladimir Vatsurin's portfolio  - 2019 
        a(href="https://www.linkedin.com/in/vladimir-vatsurin/") Me in LinkedIn
        a   -   
        a(href="https://vk.com/sidebail") Me in VKontakte
