doctype html
html
  head
    title= title
    style.
        body{
          height: 100vh;
        }
        #footer {
          margin-top: 100px;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: black;
          color: white;
          text-align: center;  
        }
        #header{
          position: fixed;
          z-index: 10;
          left: 0;
          top: 0;
          width: 100%;
          height: 5%;
          background-color: black;
          color: white;
          
        }
        #head_right {
          float: right;
          
          transform: translateY(25%);
          margin-right: 100px;
          color: white;
        }
        #head_left {         
          margin-left: 100px;
          color: white;
          
        }
        #content{   
          margin-top: 5%;       
          text-align: center;
        }
        .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        }
        #left_text{
          margin-left: 2%;
          text-align: left;
        }
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    script(type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js")
    script(type='text/javascript').
      (function(){
      emailjs.init("user_J2e9n5NQv1OsRYd8zXklA");
      })();
    script(type='text/javascript').
      window.onload = function() {
      document.getElementById('contact-form').addEventListener('submit', function(event) {
      event.preventDefault();
      this.contact_number.value = Math.random() * 100000 | 0;
      emailjs.sendForm('contact_service', 'contact_template', this);
      console.log('SENT!');
      });
      }
  
  body
    block header
      #header
         a(href="/" id='head_left') Home  
         a(href="/about" id='head_right') About me   
         a(href="/contacts" id='head_right') Contacts 
    .d-flex.flex-column
      #content.flex-grow-1
        block content
      block footer
        #footer
          p Vladimir Vatsurin's portfolio  - 2019 
          a(href="https://www.linkedin.com/in/vladimir-vatsurin/") Me in LinkedIn
          a   -   
          a(href="https://vk.com/sidebail") Me in VKontakte
