extends ../layout

block content
  h1= project.title

  form(method="POST")
    input(name="name" placeholder="Name of project")
    input(name="description" placeholder="Description")
    input(name="state" placeholder="Current State")
    input(name="picture" placeholder="Link to a picture")

    button(type="submit") Create Project