extends ../layout

block content
  h1 All Projects

  a(href="/projects/new") Create Project

  table(style = 'float: none; margin: 0 auto; border-collapse: separate; border-spacing: 70px;')
    tbody(style = 'border: 10px;')
      each chunk in listChunks
        tr
          each project in chunk
            td
              div(class='card' style='width: 25rem;')
                img(class='card-img-top' src=`${project.picture}` alt=`${project.name}`)
                div(class='card-body')
                  a(href=`/projects/${project._id}` class = "btn btn-primary")= project.name

        
  
